/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/

h1 {
	margin: 0;
}

ul {
	list-style-type: none;
}


/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page > * {
	margin: 0 auto;
}

.main-header {
	position: fixed;
	display: flex;
	background-color: #fff;
	width: 100%;
}

.main-header .logo {
	flex: 1;
}

.main-header li {
	display: inline-block;
}

.main-header li a {
	padding: 10px;
	text-decoration: none;
}


.panel {
	max-width: 1000px;
	padding: 40px;
}

.hero {
	background-color: green;
	background: url(../images/core-1000px.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 350px;
	/*margin: 0 auto;*/
}

.hero img {
	width: 100%;
}

.content,
.pennant {
	text-align: center;
}

.container {
	background-color: pink;
	/*display: flex;*/
}

.container > * {
	display: inline-block;
	width: calc(50% - 40px);
}

/*.container > img {
	float: left;
	max-width: 100%;
	width: auto;
	height: auto;
}

.container > img:after {
	clear: both;
}*/


/*.details p {
	text-align: justify;
}*/

.pennant {
	color: #fff;
	font-size: 1.5em;
	font-weight: 100;
	background-color: #000039;
	
	text-transform: uppercase;
	padding: 20px 0;
}


/****************************************
  Components
*****************************************/


/****************************************
  Media Queries
*****************************************/

@media only screen and (max-width: 768px) {
	
	body {
		background-color: red;
	}

	.container > * {
		display: block;
		width: 100%;
	}
}
