/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}


/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page > * {
	margin: 0 auto;
}

.main-header {
	position: fixed;
	display: flex;
	background-color: #fff;
	width: 100%;
}

.main-header .logo {
	flex: 1;
}

.main-header li,
.social li {
	display: inline-block;
}

.main-header li a,
.info-bar li a {
	font-size: 1em;
	padding: 10px;
	text-decoration: none;
}

.main-header li a:hover {
	border-bottom: 2px solid #00ff00;
}


.panel {
	max-width: 1000px;
	padding: 40px;
}

.hero {
	background-color: green;
	background: url(../images/core-1000px.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 350px;
}

.hero img {
	width: 100%;
}

.content,
.pennant {
	text-align: center;
}

.container > * {
	display: inline-block;
	width: calc(50% - 5px);
	vertical-align: middle;
}

.details {
	text-align: center;
	padding: 20px;
}

.details > h2 {
	font-size: 1.5em;
	padding-bottom: 10px;
}

.details p {
	font-weight: 100;
}


.pennant {
	color: #fff;
	font-size: 1.5em;
	font-weight: 100;
	background-color: #000039;
	text-transform: uppercase;
	padding: 20px 0;
}

.main-footer {
	background-color: #000039;
}

.info-bar {
	display: flex;
	color: #fff;
	font-size: 1.5em;
	padding: 40px;
}

.info-bar > h1 {
	text-transform: uppercase;
	font-weight: 100;
}

.info-bar span {
	border-bottom: 2px solid #00ff00;
}

.info-bar ul {
	margin: 0;
}

.info-bar i {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social {
	padding-left: 40px;
}


/****************************************
  Components
*****************************************/


/****************************************
  Media Queries
*****************************************/

@media only screen and (max-width: 768px) {
	
	.container > * {
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width: 575px) {
	.main-header {
		display: block;
		text-align: center;
	}

	.info-bar {
		display: block;
		text-align: center;
	}

	.social {
		padding-left: 0;
	}
}

@media only screen and (max-width: 480px) {
	
	.main-header li a {
		/*font-size: .8em;*/
		padding: 5px;
	}

	.logo img {
		max-width: 90%;
	}

	.panel {
		padding: 5px;
	}

	.pennant {
		font-size: 1em;
	}

	.info-bar {
		font-size: 1em;
	}

	.info-bar ul {
		padding: 0;
	}

}

@media only screen and (max-width: 240px) {
	.main-header li a {
		font-size: .8em;
	}

	.pennant {
		font-size: .8em;
	}
}